.ant-card-meta-title {

}

.ant-card-body {
    padding-left: 0px !important;
}

.ant-card-meta-description{
    color: black !important;
}

.ant-list-item{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.ant-card{
    box-shadow: none !important;
}

.ant-card-bordered {
    border: none !important;
}

.ant-card-meta-title {
    white-space: nowrap;
    row-gap: "3";
}

.card-title .cursor-pointer {
    color: #b70b00 !important;
}

.card-label{
    color: #b70b00 !important;
    border-bottom: 2px solid #b70b00 !important;

}


    