.ant-form-item-label > label {
  font-weight: 500 !important;
}
.ant-input[disabled] {
  color: #222 !important;
  background-color: #fff !important;
}
.ant-input {
  min-height: 35px !important;
  width: 100%;
  border-radius: 5px !important;
  border-color: #e9e9e9 !important;
}
.ant-select-selector {
  min-height: 35px !important;
  width: 100%;
  border-color: #e9e9e9 !important;
}
.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #fff !important;
  color: #222 !important;
}
.ant-select-dropdown {
  z-index: 1080 !important;
}
.ant-picker-dropdown {
  z-index: 1080 !important;
}
.ant-upload.ant-upload-drag {
  border-color: #009ef7 !important;
}
.ant-picker {
  min-height: 35px !important;
  border-radius: 5px !important;
  border-color: #e9e9e9 !important;
}
.ant-picker-disabled {
  background-color: #fff !important;
  color: #222 !important;
}

.iframeApp {
  width: 100%;
  height: calc(100vh - 140px);
}

.ant-table-thead > tr > th {
  background-color: #f3f2f7 !important;
  color: #40566f !important;
  font-weight: 600 !important;
  border: 0px !important;
}

.customList > .ant-list-header {
  background-color: #f3f2f7 !important;
  color: #40566f !important;
  font-weight: 600 !important;
}

.modal-header > button {
  padding: 0.5rem !important;
  border: 0px !important;
  background-color: transparent !important;
  color: #fff !important;
}

.text-header-td {
  color: #575962;
}

/* .ant-modal-wrap {
  z-index: 9999;
}
 */
.td-row-dashed {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: var(--kt-border-color);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.ant-modal-root {
  z-index: 99999;
}
